html,body{
    width: 100%;
    height: 100%;
    font-size: 15px;
}
.navbar{
    background-color: #f8fbf9 !important ;
}
.navbar li a{
    color: #2765b5 !important;
    font-weight: 700;
}
.navbar li a:hover{
    color: #070707 !important;
}
.nav-item{
    margin-right: 20px;
}
.img-responsive{
    width: 100%;
    height:  100%;
}
.header-caption{
    
    margin-top: -400px;
    margin-left: 850px;
    
}
.hd,.tn{
    background-color: #2765b5 !important;
    border: #2765b5;
    color: #f8fbf9;
    border-style: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    display: inline-block;
}
.dhqg{
    color: #2765b5;
}
@media (max-width: 1138px){
    .hd,.tn,.dhqg{
        font-size: 30px;
        margin-left: -170px;
    }
    .hd{
        margin-top: 60px;
    }
}
@media (max-width: 992px){
    .hd,.tn,.dhqg{
        font-size: 30px;
        margin-left: -200px;
    }
    .hd{
        margin-top: 60px;
    }
}
@media (max-width: 888px){
    .hd,.tn,.dhqg{
        font-size: 28px;
        margin-left: -320px;
    }
    .hd{
        margin-top: 80px;
    }
}
@media (max-width: 768px){
    .hd,.tn,.dhqg{
        font-size: 17px;
        margin-left: -370px;
    }
    .hd{
        margin-top: 150px;
    }
}
@media (max-width: 600px){
    .hd,.tn,.dhqg{
        font-size: 12px;
        margin-left: -500px;
    }
    .hd{
        margin-top: 220px;
    }
}
