html,body{
    width: 100%;
    height: 100%;
    font-size: 15px;
}
.navbar{
    background-color: #f8fbf9 !important ;
}
.navbar li a{
    color: #2765b5 !important;
    font-weight: 700;
}
.navbar li a:hover{
    color: #070707 !important;
}
.nav-item{
    margin-right: 20px;
}
.img-responsive{
    width: 100%;
    height:  100%;
}
.header-caption{
    
    margin-top: -400px;
    margin-left: 950px;
    
}
.hd,.tn{
    background-color: #2765b5 !important;
    border:#2765b5;
    color:#f8fbf9;
    border-style: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    display: inline-block;
}
.dhqg{
    color: #2765b5;
}
@media (max-width: 1138px){
    .hd,.tn,.dhqg{
        font-size: 30px;
        margin-left: -170px;
    }
    .hd{
        margin-top: 60px;
    }
}
@media (max-width: 992px){
    .hd,.tn,.dhqg{
        font-size: 30px;
        margin-left: -200px;
    }
    .hd{
        margin-top: 60px;
    }
}
@media (max-width: 888px){
    .hd,.tn,.dhqg{
        font-size: 28px;
        margin-left: -320px;
    }
    .hd{
        margin-top: 80px;
    }
}
@media (max-width: 768px){
    .hd,.tn,.dhqg{
        font-size: 17px;
        margin-left: -370px;
    }
    .hd{
        margin-top: 150px;
    }
}
@media (max-width: 600px){
    .hd,.tn,.dhqg{
        font-size: 12px;
        margin-left: -500px;
    }
    .hd{
        margin-top: 220px;
    }
}

/*--------------------HEADER-------------------*/

.img-fluid{
    display: block;
    margin-top: 0;
    width: 1500px;
}

/*--------------------ACTIVITY-------------------*/

#act1,#act2,#act3{
    margin-top: 300px;
    width: 217px;
    height: 200px;
    margin-left: 13px;
    margin-bottom: -252px;
}
.act1-name,.act2-name,.act3-name{
    margin-top: -200px;
    margin-left: 10px;
    font-size: large;
    color: #2765b5;
    font-weight: bold;
}
.act1-owner,.act2-owner,.act3-owner{
    margin-left: 10px;
    margin-top: 45px;
    font-weight: 400;
    font-size: small;
}
@media (max-width: 1280px){
    #act1,#act2,#act3{
        margin-top: 300px;
        width: 205px;
        height: 200px;
        margin-left: 22px;
        margin-bottom: -252px;
    }
    .act1-name,.act2-name,.act3-name{
        margin-top: -190px;
        margin-left: 10px;
        font-size: large;
        color: #2765b5;
        font-weight: bold;
    }
}
@media (max-width: 768px){
    #act1,#act2,#act3{
        margin-top: 300px;
        width: 110px;
        height: 110px;
        margin-left: 15px;
        margin-bottom: -138px;
    }
    .act1-name,.act2-name,.act3-name{
        margin-top: -110px;
        margin-left: 10px;
        font-size: xx-small;
        color: #2765b5;
        font-weight: 5px;
    }
    .act1-owner,.act2-owner,.act3-owner{
        margin-left: 10px;
        margin-top: 15px;
        font-weight: 400;
        font-size: xx-small;
    }
}
@media (max-width: 600px){
    #act1,#act2{
        margin-top: 300px;
        width: 130px;
        height: 110px;
        margin-left: 15px;
        margin-bottom: -145px;
    }
    #act3{
        margin-top: 300px;
        width: 280px;
        height: 230px;
        margin-left: 15px;
        margin-bottom: -300px;
    }
    .act1-name,.act2-name{
        margin-top: -125px;
        margin-left: 10px;
        font-size: xx-small;
        color: #2765b5;
        font-weight: bold;
    }
    .act3-name{
        margin-top: -265px;
        margin-left: 10px;
        font-size: x-large;
        color: #2765b5;
        font-weight: bold;
    }
    .act1-owner,.act2-owner{
        margin-left: 10px;
        margin-top: 20px;
        font-weight: 400;
        font-size: xx-small;
    }
    .act3-owner{
        font-size: x-large;
        margin-top: 60px;
    }
}
